<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <a hre="{% url 'home' %}">Home</a>

      {% if user.is_authenticated %}
       <a href="{% url 'dashbord' %}">dashbord</a>welcome<br>
       <a href="{% url 'logout' %}">logout</a>
      {% else %}
       <a href="{% url 'register' %}">register</a>
       <a href="{% url 'login' %}">login</a>
       {% endif %}
    <h1>this is student list</h1>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>score</td>
                <td>subject</td>
                <td>update</td>
                <td>delete</td>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td><a href="{% url 'info' i.id %}">{{i.id}}</a></td>
                 <td>{{i.name}}</td>
                  <td>{{i.score}}</td>
                   <td>{{i.sub}}</td>
                   <td><a href="{% url 'edit' i.id %}">update</a></td>
                   <td><a href="{% url 'delete' i.id %}">delete</a></td>

            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add'  %}">add</a>
</body>
</html>